on:
    pull_request:
    push:
        branches: [main]

jobs:
    build-nix-package:
        name: Build Nix package
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: DeterminateSystems/determinate-nix-action@main
            - run: nix build
